* {
	padding: 0px;
	margin: 0px;
	scroll-behavior: smooth;
}

body {
	font-family: 'Nunito', sans-serif;
	font-size: 18px;
	background-color: #F5E4E6;;
}

#name{
	
	font-weight: 600;
}

#about {
	font-size: 18px;
}


h2 {
	text-align: center;
	font-size: 30px;
}

p {
	text-align: center;
}

h3 {
	text-align: center;
	font-size: 30px;
	padding-bottom: 5px;
}

nav a {
    color: rgb(7, 5, 5);
	padding: 1rem;
	font-size: 20px;
	font-weight: 570;

	
	
  }




/* nav a{
	
    font-size: 20px;
	font-weight: 800;
	
} */

.back-to-top{
    color: #F3AFB7;
}